/* Global Styles */
body {
    font-family: 'Times New Roman', Times, serif; /* Updated font style */
    background-color: #1c1c1c; /* Dark Background */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff; /* White Font */
}

/* Color Palette */
:root {
    --primary-color: #6a0dad; /* Purple */
    --secondary-color: #000000; /* Black */
    --background-color: #1c1c1c; /* Dark Background */
    --board-color: #6a0dad; /* Purple */
    --border-color: #ffffff; /* White */
    --text-color: #ffffff; /* White */
    --hover-color: #5a007a; /* Darker Purple */
}

/* Header Styles */
header {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}

/* Scoreboard Styles */
.scoreboard {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Game Board Styles */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 310px; /* Adjust width */
    background-color: var(--board-color);
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-board div {
    width: 100px;
    height: 100px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--board-color);
    color: var(--text-color);
}

.game-board div:hover {
    background-color: var(--hover-color);
}

/* Control Button Styles */
.controls {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

button:hover {
    background-color: var(--primary-color);
}
